{% extends 'base.html' %}

{% block content %}
    <div class="page-header">
        <h1>List screenshots.</h1>
    </div>
    <div class="well">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">URL</th>
              <th scope="col">Date</th>
              <th scope="col">View</th>
            </tr>
          </thead>
          <tbody>
            {% for screenshot in object_list %}
                <tr>
                  <th scope="row">{{ screenshot.id }}</th>
                  <td>{{ screenshot.url }}</td>
                  <td>Today</td>
                  <td><a href="/view/{{ screenshot.id }}/" class="btn btn-primary" role="button">View Screenshot</a></td>
                </tr>
            {% endfor %}

          </tbody>
        </table>
    </div>
{% endblock %}
