.fg-hover-modal-open {
    width:100%;
    height:100%;
    color:white;
    font-size: 0;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
}

.fg-hover-modal-open:hover {
    background:rgba(0,0,0,0.5);
    font-size: inherit;
}

.urlinput {
    font-size: 30pt;
    width: 90%;
    text-align: center;
}
